/* Mobile-Friendly Websites */
/* parallax-practice */
/* K0mputer N3rd */
/* 02/05/2022 */

/* style.css */

/* General CSS for All Elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Jumbotron #1 */
#jumbo1 {
  background-image: url("../img/pexels-harrison-haines-8147572.jpg");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  /* width: 100%;
  height: 700px; */
}

/* Text in Lobster Font */
.text-one {
  font-family: "Lobster", cursive;
  font-size: 15vh;
  font-weight: bolder;
  color: black;
}

/* Text in Open Sans Font */
.text-two {
  font-family: "Open Sans", sans-serif;
  font-size: 8vh;
  font-weight: bold;
  color: black;
}
